*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body, html, #root {
  height: min(100%, 100vh);
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-image: url("../images/todo_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(200, 200, 200);
}
header .menu {
  --menu-size: 1.75rem;
  --spacing: calc(var(--menu-size) * 0.25);
  --size: calc(var(--menu-size) * 0.8);
  --height: 0.1875rem;
  --color: rgba(100, 100, 100, 1.00);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  aspect-ratio: 1/1;
  height: var(--menu-size);
  position: relative;
  color: var(--color);
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}
header .menu .hamburger, header .menu .hamburger::before, header .menu .hamburger::after {
  pointer-events: none;
  height: var(--height);
  width: var(--size);
  background-color: currentColor;
  border-radius: var(--size);
  position: absolute;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}
header .menu .hamburger::before {
  content: "";
  -webkit-transform: translateY(calc(var(--spacing) * -1));
          transform: translateY(calc(var(--spacing) * -1));
}
header .menu .hamburger::after {
  content: "";
  -webkit-transform: translateY(calc(var(--spacing) * 1));
          transform: translateY(calc(var(--spacing) * 1));
}
header .menu:hover {
  --color: rgba(166, 166, 166, 1.00);
  cursor: pointer;
}
header .menu.open .hamburger {
  background-color: rgba(0, 0, 0, 0);
}
header .menu.open .hamburger::before {
  content: "";
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}
header .menu.open .hamburger::after {
  content: "";
  -webkit-transform: translateY(0) rotate(135deg);
          transform: translateY(0) rotate(135deg);
}

.container {
  height: 100%;
  width: min(100% - 2rem, 64rem);
  margin-inline: auto;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 1rem;
  -webkit-box-shadow: 0.125rem 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0.125rem 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);
}

.bttn {
  --height: 2.25rem;
  --color: rgba(255, 255, 255, 1.00);
  --background-color: rgba(25, 66, 200, 1.00);
  text-transform: uppercase;
  padding-inline: 1rem;
  min-height: var(--height);
  border-radius: var(--height);
  color: var(--color);
  background-color: var(--background-color);
  border: 1px solid rgba(255, 255, 255, 0.33);
  -webkit-box-shadow: 0.125rem 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0.125rem 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.bttn:hover {
  -webkit-box-shadow: inset 0.125rem 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0.125rem 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.2);
}
.bttn-success {
  --color: rgba(255, 255, 255, 1.00);
  --background-color: rgba(33, 120, 50, 1.00);
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}
.bttn-success:hover {
  --background-color: rgb(20, 75, 30, 1.00);
}
.bttn-danger {
  --color: rgba(255, 255, 255, 1.00);
  --background-color: rgba(120, 33, 50, 1.00);
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}
.bttn-danger:hover {
  --background-color: rgb(75, 20, 30, 1.00);
}
.bttn-primary {
  --color: rgba(255, 255, 255, 1.00);
  --background-color: rgba(25, 66, 200, 1.00);
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}
.bttn-primary:hover {
  --background-color: rgba(10, 50, 155, 1.00);
}

.dropdown {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 0 0.5rem 0.5rem 0.5rem;
  margin-top: 0.33rem;
  -webkit-box-shadow: 0.125rem 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0.125rem 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgb(220, 220, 220);
  border-left: 1px solid rgb(220, 220, 220);
  width: min(100% - 2rem, 20rem);
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  padding: 0.75rem 0 0.25rem 0;
}
.form-row .form-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}
.form-row .form-item label {
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.75px;
  display: inline-block;
  padding-inline: 0.25rem;
  background-color: white;
  position: absolute;
  top: 1.5rem;
  left: 0.5rem;
  z-index: 10;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: top 300ms ease;
  transition: top 300ms ease;
}
.form-row .form-item input[type=text], .form-row .form-item input[type=email], .form-row .form-item input[type=phone], .form-row .form-item input[type=number], .form-row .form-item textarea {
  display: block;
  width: 100%;
  padding: 0.75rem 0.5rem;
}
.form-row .form-item input[type=text]:focus + label, .form-row .form-item input[type=text].has-data + label, .form-row .form-item input[type=email]:focus + label, .form-row .form-item input[type=email].has-data + label, .form-row .form-item input[type=phone]:focus + label, .form-row .form-item input[type=phone].has-data + label, .form-row .form-item input[type=number]:focus + label, .form-row .form-item input[type=number].has-data + label, .form-row .form-item textarea:focus + label, .form-row .form-item textarea.has-data + label {
  top: 0;
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#create_task_form textarea {
  resize: none;
  height: 10rem;
  line-height: 1.5;
}

.tasks-wrapper {
  width: 100%;
}
.tasks-wrapper .task-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 0.33rem 1fr 0.33rem auto;
  grid-template-columns: auto 1fr auto;
  width: 100%;
  padding-block: 0.33rem;
  gap: 0.33rem;
}
.tasks-wrapper .task-row + .task-row {
  border-top: 1px solid rgb(200, 200, 200);
}
.tasks-wrapper .task-row td.task-title {
  cursor: pointer;
}
.tasks-wrapper .task-row td.task-title:hover {
  color: rgb(25, 66, 200);
  text-decoration: underline;
}
.tasks-wrapper .task-row td.task-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.edit-icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  -webkit-transform: rotate(-45deg) scale(var(--icon-size, 1));
          transform: rotate(-45deg) scale(var(--icon-size, 1));
  width: 0.875rem;
  height: 0.25rem;
  border-right: 0.125rem solid transparent;
  -webkit-box-shadow: 0 0 0 0.125rem, inset -0.125rem 0 0;
          box-shadow: 0 0 0 0.125rem, inset -0.125rem 0 0;
  border-top-right-radius: 0.0625rem;
  border-bottom-right-radius: 0.0625rem;
  margin-right: -0.125rem;
}
.edit-icon::after, .edit-icon::before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
}
.edit-icon::before {
  background: currentColor;
  border-left: 0;
  right: -0.375rem;
  width: 0.1875rem;
  height: 0.25rem;
  border-radius: 0.0625rem;
  top: 0;
}
.edit-icon::after {
  width: 0.5rem;
  height: 0.4375rem;
  border-top: 0.25rem solid transparent;
  border-bottom: 0.25rem solid transparent;
  border-right: 0.4375rem solid;
  left: -0.6875rem;
  top: -0.125rem;
}

.trash-icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  -webkit-transform: scale(var(--icon-size, 1));
          transform: scale(var(--icon-size, 1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  -webkit-box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
          box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px;
}
.trash-icon::after, .trash-icon::before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
}
.trash-icon::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px;
}
.trash-icon::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.modal-backdrop .modal {
  width: min(100% - 2rem, 64rem);
  background-color: rgb(255, 255, 255);
  padding: 1.5rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.33);
          box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.33);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 10rem;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
}
.modal-backdrop .modal-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
      grid-template-areas: ". close" "title title";
}
.modal-backdrop .modal-header .close {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  --size: 2rem;
  grid-area: close;
  font-size: var(--size);
  color: rgb(200, 200, 200);
  cursor: pointer;
  margin: calc(var(--size) * -3 / 4) 0 0 0;
}
.modal-backdrop .modal-header .close:hover {
  color: rgb(100, 100, 100);
}
.modal-backdrop .modal-header .modal-title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}
.modal-backdrop .modal-body .task-description, .modal-backdrop .modal-body .task-status {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 0.66rem 1fr;
  grid-template-columns: auto 1fr;
  gap: 0.66rem;
  padding: 0.33rem 0;
}
.modal-backdrop .modal-body .task-description .item-title, .modal-backdrop .modal-body .task-status .item-title {
  font-size: 1.25rem;
  margin: 0;
}
.modal-backdrop .modal-body .form-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6rem 1fr;
  grid-template-columns: 6rem 1fr;
}
.modal-backdrop .modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgb(200, 200, 200);
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}